<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
	<PropertyGroup>
		<ApplicationRevision>2</ApplicationRevision>
		<ApplicationVersion>2.4.0.2</ApplicationVersion>
		<BootstrapperEnabled>True</BootstrapperEnabled>
		<Configuration>Release</Configuration>
		<CreateWebPageOnPublish>True</CreateWebPageOnPublish>
		<GenerateManifests>true</GenerateManifests>
		<Install>True</Install>
		<InstallFrom>Web</InstallFrom>
		<InstallUrl>https://aimodsitalia.store/WinHubX/</InstallUrl>
		<IsRevisionIncremented>False</IsRevisionIncremented>
		<IsWebBootstrapper>True</IsWebBootstrapper>
		<MapFileExtensions>True</MapFileExtensions>
		<OpenBrowserOnPublish>False</OpenBrowserOnPublish>
		<Platform>Any CPU</Platform>
		<PublishDir>bin\Release\net9.0-windows\win-x86\app.publish\</PublishDir>
		<PublishUrl>C:\Users\Nico\Desktop\WinHubX-clickonce\</PublishUrl>
		<PublishProtocol>ClickOnce</PublishProtocol>
		<PublishReadyToRun>False</PublishReadyToRun>
		<PublishSingleFile>True</PublishSingleFile>
		<SelfContained>True</SelfContained>
		<SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
		<SignManifests>True</SignManifests>
		<SkipPublishVerification>false</SkipPublishVerification>
		<TargetFramework>net9.0-windows</TargetFramework>
		<UpdateEnabled>True</UpdateEnabled>
		<UpdateMode>Foreground</UpdateMode>
		<UpdateRequired>False</UpdateRequired>
		<UpdateUrl>https://aimodsitalia.store/WinHubX/</UpdateUrl>
		<WebPageFileName>Publish.html</WebPageFileName>
		<CreateDesktopShortcut>True</CreateDesktopShortcut>
		<ManifestCertificateThumbprint>B13B9DB19A0ECF888DACADCFC64CFDA6CD889ACD</ManifestCertificateThumbprint>
		<ManifestKeyFile>WinHubX_TemporaryKey.pfx</ManifestKeyFile>
		<ProductName>WinHubX</ProductName>
		<PublisherName>MrNico98</PublisherName>
		<SuiteName>WinHubX</SuiteName>
		<RuntimeIdentifier>win-x86</RuntimeIdentifier>
		<TrustUrlParameters>True</TrustUrlParameters>
		<UseApplicationTrust>True</UseApplicationTrust>
	</PropertyGroup>
</Project>
